* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    color: white;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    h3 {
        font-size: 24px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0px;
        opacity: 0;
    }
    &.active {
        flex: 3;
        h3 {
            opacity: 1;
            transition: opacity 0.5s ease-in 0.5s;
        }
    }
}